.flexRow .absoluteFlyingIcon{
    &:nth-child(odd) {
        animation: parallax1 2s infinite alternate;
    }
    
    &:nth-child(even) {
        animation: parallax2 2s infinite alternate;
    }
    
    @keyframes parallax1{
        from{
            transform: translate(0%);
        }
        to{
            transform: translate(25%);
        }
    }
    
    @keyframes parallax2{
        from{
            transform: translate(0%, 0%);
        }
        to{
            transform: translate(0%, 25%);
        }
    }

    @for $i from 1 through 3 {
        &:nth-child( #{$i}) {
            animation-delay: $i * .6s;
        }
    }

    position: absolute;
    // background-image: url("../../shared/Images/Icons/Home/Money.png");
    width: 4vmin;
    height: 4vmin;
    min-width: 30px;
    min-height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    background-position: center;

    $images: "Money", "Aesthetics", "Search", "PuppyEmoji", "Puppy", "Lady", "Drink", "ClipBoard", "Car", "BirthdayPup", "Burger", "Monitor", "WheelChair", "Mobile"; //all the names if the images to be displayed
    @each $image in $images {
        &.#{$image} {
            background-image: url("../../shared/Images/Icons/Home/"+$image +".png");
        }
    }

    &.Aesthetics {
        left: 10%;
        top: 10%;
    }
    
    &.PuppyEmoji {
        left: 31%;
        top: 8%;
    }
    
    &.ClipBoard {
        left: 50%;
        top: 4%;
    }
    
    &.Puppy {
        right: 24%;
        top: 5%;
    }
    
    &.Money {
        left: 5%;
        top: 35%;
    }
    
    &.Search {
        right: 8%;
        top: 22%;
    }
    
    &.Drink {
        right: 0%;
        top: 34%;
    }
    
    &.BirthdayPup {
        left: 20%;
        top: 53%;
    }
    
    &.Car {
        right: 12%;
        top: 54%;
    }
    
    &.WheelChair {
        left: 7%;
        bottom: 25%;
    }
    
    &.Monitor {
        bottom: 12%;
        left: 25%;
    }
    
    &.Burger {
        bottom: 11%;
        left: 46%;
    }
    
    &.Lady {
        right: 14%;
        bottom: 11%;
    }
    
    &.Mobile {
        right: 27%;
        bottom: 18%;
    }
}

@media only screen and (max-width: $breakpoint-md) {
    .flexRow .absoluteFlyingIcon{
        &.Monitor {
            bottom: 8% !important;
            left: 6% !important;
        }
        
        &.Car {
            right: 9% !important;
        }
        
        &.BirthdayPup {
            left: 8% !important;
        }
        
        &.Drink {
            right: 3% !important;
        }
        
        &.Search {
            right: 5% !important;
        }
        
        &.ClipBoard {
            top: 17% !important;
            right: 34% !important;
        }
        
        &.PuppyEmoji {
            top: 8% !important;
            left: 32% !important;
        }
        
        &.Aesthetics {
            left: 9% !important;
            top: 5% !important;
        }

        &.Money {
            left: 5%;
            top: 21%;
        }
            
        &.WheelChair {
            left: 20%;
            bottom: 21%;
        }

        &.Lady {
            right: 9%;
            bottom: 7%;
        }

        &.Mobile {
            right: 25%;
            bottom: 18%;
        }
    }
}