@import "../../shared/shared.scss";

$footer-bg-color: #020113;
$footer-text-color: #FFFFFF;

.footerWrap{
    background-color: $footer-bg-color;
    color: $footer-text-color;
    border-radius: 5px 5px 0px 0px;
    float: left;
    width: 100%;
    padding: 65px 0 35px 0;
    background-image: url("../../shared/Images/Logo Layered.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 87%;
    background-position-y: 150px; 

    .firstSection{
        float: left;
        width: 100%;

        .textWrap{
            float: left;
            width: calc(100% - 200px);

            h2{
                color: $footer-text-color;
                text-align: left;
                font-size: 1.8rem !important;
                margin-bottom: 15px;
            }

            p{
                float: left;
                color: $footer-text-color;
                width: calc(100% - 200px);
                font-family: "Axiforma Regular";
                font-size: 13px;
                font-weight: 400;
                letter-spacing: 0px;

                a{
                    color: $footer-text-color !important;
                }
            }
        }

        .contactsWrap{
            float: right;
            width: 200px;
            font-family: "Axiforma Regular";
            font-size: 13px;
            letter-spacing: 0px;

            .contactsHeading{
                float: right;
            }

            .contactEmail{
                float: right;
                color: $footer-text-color !important;
            }
        }
    }

    .secondSection{
        float: left;
        width: 100%;
        margin-top: 65px;

        .creatorsAppLogo{
            width: 200px;
            height: 60px;
            background-image: url("../../shared/Images/CreatorsAppLogo White.png");
            background-size: contain;
            background-position-x: center;
            background-position-y: top;
            background-repeat: no-repeat;
            max-width: 180px;
            float: left;
        }

        .socialNetworkWrap{
            float: right;
            width: 72px;
            font-family: "Axiforma Regular";

            .socialIcon{
                color: $footer-text-color !important;
                float: left;
                margin-right: 10px; 
                font-size: 13px;

                &:last-child{
                    margin-right: 0px; 
                }
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-md) {
    .footerWrap{
        border-radius: 40px 40px 0px 0px; 
        margin:0 -10px;
        width: calc(100% + 20px); 
        background-position-x: 3vmin;
        background-position-y: calc(100% + 135px);
        background-image: url("../../shared/Images/Logo Layered transparent.png");
        background-size: 115vw;

        .container {
            padding: 0 25px !important;
        }

        .firstSection {

            .textWrap{
                width: 100%;
                text-align: center;
                padding: 0 15vmin;

                h2,
                p{
                    text-align: center;
                    width: 100%;
                }

                h2{
                    line-height: 1.2 !important;
                    margin-bottom: 30px !important;
                }

                p{
                    line-height: 1.5;
                }
            }

            .contactsWrap {
                width: 100% !important;
                float: left;
                margin-top: 40px;

                .contactsHeading {
                    text-align: center;
                    float: left;
                    width: 100%;
                }

                .contactEmail {
                    float: left;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .secondSection {
            margin-top: 20px !important;
            @include flex-column();

            
            .socialNetworkWrap {
                float: left;
                width: 100% !important;
                @include flex-row();

                .socialIcon{
                    &:last-child{
                        margin-right: 10px; 
                    }
                }
            }

            .creatorsAppLogo {
                margin: 40px 0 30px 0 !important;
                width: 220px !important;
                height: 70px;
                max-width: 100%;
            }
        }
        
    }
}